.bee-row,
		.bee-row-content {
			position: relative
		}

		body {
			background-color: #fff5eb;
			color: #000000;
			font-family: Montserrat, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif
		}

		a {
			color: #7747ff
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		p {
			margin: 0
		}

		.bee-menu .bee-hamburger-trigger {
			display: none
		}

		.bee-row-content {
			max-width: 1440px;
			margin: 0 auto;
			display: flex
		}

		.bee-row-content .bee-col-w3 {
			flex-basis: 25%
		}

		.bee-row-content .bee-col-w4 {
			flex-basis: 33.3333333333%
		}

		.bee-row-content .bee-col-w5 {
			flex-basis: 41.6666666667%
		}

		.bee-row-content .bee-col-w6 {
			flex-basis: 50%
		}

		.bee-row-content .bee-col-w12 {
			flex-basis: 100%
		}

		.bee-button a,
		.bee-icon .bee-icon-label-right a,
		.bee-menu ul li a {
			text-decoration: none
		}

		.bee-button-content {
			text-align: center
		}

		.bee-divider,
		.bee-image {
			overflow: auto
		}

		.bee-divider .center,
		.bee-image .bee-center {
			margin: 0 auto
		}

		.bee-row-15 .bee-col-1 .bee-block-2,
		.bee-row-2 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-1 .bee-block-1,
		.bee-row-6 .bee-col-2 .bee-block-1,
		.bee-row-6 .bee-col-3 .bee-block-1,
		.bee-row-7 .bee-col-1 .bee-block-1,
		.bee-row-7 .bee-col-3 .bee-block-1 {
			width: 100%
		}

		.bee-icon {
			display: inline-block;
			vertical-align: middle
		}

		.bee-icon .bee-content {
			display: flex;
			align-items: center
		}

		.bee-image img {
			display: block;
			width: 100%
		}

		.bee-menu .bee-hamburger-controls {
			cursor: pointer;
			display: inline-block;
			position: relative
		}

		.bee-menu .bee-hamburger-controls span {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background-size: 100%;
			background-repeat: no-repeat;
			transition: .12s ease-in-out
		}

		.bee-menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0
		}

		.bee-menu ul.bee-horizontal li {
			display: inline-block
		}

		.bee-paragraph,
		.bee-text {
			overflow-wrap: anywhere
		}

		.bee-social .icon img {
			max-height: 32px
		}

		.bee-row-1,
		.bee-row-10,
		.bee-row-11,
		.bee-row-12,
		.bee-row-13,
		.bee-row-14,
		.bee-row-3,
		.bee-row-4,
		.bee-row-5,
		.bee-row-6,
		.bee-row-7,
		.bee-row-9 {
			background-repeat: no-repeat
		}

		.bee-row-1 .bee-row-content,
		.bee-row-10 .bee-row-content,
		.bee-row-11 .bee-row-content,
		.bee-row-12 .bee-row-content,
		.bee-row-13 .bee-row-content,
		.bee-row-14 .bee-row-content,
		.bee-row-16 .bee-row-content,
		.bee-row-17 .bee-row-content,
		.bee-row-2 .bee-row-content,
		.bee-row-3 .bee-row-content,
		.bee-row-4 .bee-row-content,
		.bee-row-5 .bee-row-content,
		.bee-row-6 .bee-row-content,
		.bee-row-7 .bee-row-content {
			background-color: #ffffff;
			background-repeat: no-repeat;
			color: #000000
		}

		.bee-row-1 .bee-col-1 {
			padding-bottom: 5px
		}

		.bee-row-15,
		.bee-row-2,
		.bee-row-8 {
			background-color: #fff5eb;
			background-repeat: no-repeat
		}

		.bee-row-10 .bee-col-1,
		.bee-row-12 .bee-col-1,
		.bee-row-13 .bee-col-1,
		.bee-row-14 .bee-col-1,
		.bee-row-15 .bee-col-1,
		.bee-row-15 .bee-col-2,
		.bee-row-15 .bee-col-3,
		.bee-row-16 .bee-col-1,
		.bee-row-17 .bee-col-1,
		.bee-row-2 .bee-col-1,
		.bee-row-2 .bee-col-2,
		.bee-row-2 .bee-col-3,
		.bee-row-3 .bee-col-1,
		.bee-row-3 .bee-col-2,
		.bee-row-4 .bee-col-1,
		.bee-row-5 .bee-col-1,
		.bee-row-8 .bee-col-1,
		.bee-row-9 .bee-col-2,
		.bee-row-9 .bee-col-3 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.bee-row-2 .bee-col-3 .bee-block-2 {
			color: #242424;
			font-family: inherit;
			font-size: 14px;
			letter-spacing: 2px;
			padding-bottom: 10px;
			padding-top: 10px;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-1,
		.bee-row-3 .bee-col-1 .bee-block-9 {
			padding: 15px
		}

		.bee-row-11 .bee-col-1 .bee-block-2,
		.bee-row-3 .bee-col-1 .bee-block-2,
		.bee-row-3 .bee-col-1 .bee-block-4,
		.bee-row-3 .bee-col-1 .bee-block-6,
		.bee-row-5 .bee-col-1 .bee-block-1 {
			text-align: center;
			width: 100%
		}

		.bee-row-3 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-1 .bee-block-5,
		.bee-row-3 .bee-col-1 .bee-block-7,
		.bee-row-5 .bee-col-1 .bee-block-3 {
			padding: 5px
		}

		.bee-row-10 .bee-col-1 .bee-block-1,
		.bee-row-11 .bee-col-1 .bee-block-3,
		.bee-row-11 .bee-col-1 .bee-block-5,
		.bee-row-13 .bee-col-1 .bee-block-1,
		.bee-row-13 .bee-col-1 .bee-block-3,
		.bee-row-14 .bee-col-1 .bee-block-1,
		.bee-row-15 .bee-col-1 .bee-block-3,
		.bee-row-3 .bee-col-1 .bee-block-8,
		.bee-row-4 .bee-col-1 .bee-block-1,
		.bee-row-5 .bee-col-1 .bee-block-2,
		.bee-row-6 .bee-col-1 .bee-block-3,
		.bee-row-6 .bee-col-1 .bee-block-4,
		.bee-row-6 .bee-col-2 .bee-block-3,
		.bee-row-6 .bee-col-2 .bee-block-4,
		.bee-row-6 .bee-col-3 .bee-block-3,
		.bee-row-6 .bee-col-3 .bee-block-4,
		.bee-row-7 .bee-col-1 .bee-block-3,
		.bee-row-7 .bee-col-1 .bee-block-4,
		.bee-row-7 .bee-col-2 .bee-block-3,
		.bee-row-7 .bee-col-2 .bee-block-4,
		.bee-row-7 .bee-col-3 .bee-block-3,
		.bee-row-7 .bee-col-3 .bee-block-4 {
			padding: 10px
		}

		.bee-row-11 .bee-col-1 .bee-block-4,
		.bee-row-3 .bee-col-1 .bee-block-10,
		.bee-row-6 .bee-col-1 .bee-block-5,
		.bee-row-6 .bee-col-2 .bee-block-5,
		.bee-row-6 .bee-col-3 .bee-block-5,
		.bee-row-7 .bee-col-1 .bee-block-5,
		.bee-row-7 .bee-col-2 .bee-block-5,
		.bee-row-7 .bee-col-3 .bee-block-5 {
			padding: 15px 10px;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-11 {
			padding: 5px 10px;
			width: 100%
		}

		.bee-row-3 .bee-col-2 .bee-block-1 {
			padding-left: 10px;
			padding-right: 10px;
			width: 100%
		}

		.bee-row-6 .bee-col-1,
		.bee-row-7 .bee-col-1 {
			padding: 25px 40px 40px
		}

		.bee-row-6 .bee-col-1 .bee-block-2,
		.bee-row-6 .bee-col-2 .bee-block-2,
		.bee-row-6 .bee-col-3 .bee-block-2,
		.bee-row-7 .bee-col-1 .bee-block-2,
		.bee-row-7 .bee-col-2 .bee-block-2,
		.bee-row-7 .bee-col-3 .bee-block-2 {
			padding: 10px 5px 5px 10px
		}

		.bee-row-6 .bee-col-2,
		.bee-row-6 .bee-col-3,
		.bee-row-7 .bee-col-2,
		.bee-row-7 .bee-col-3 {
			padding: 25px 40px
		}

		.bee-row-7 .bee-col-2 .bee-block-1 {
			padding: 15px 5px 45px;
			width: 100%
		}

		.bee-row-15 .bee-row-content,
		.bee-row-8 .bee-row-content,
		.bee-row-9 .bee-row-content {
			background-color: #fff5eb;
			background-repeat: no-repeat;
			color: #000000
		}

		.bee-row-8 .bee-col-1 .bee-block-1 {
			padding-bottom: 10px;
			padding-top: 30px;
			text-align: center;
			width: 100%
		}

		.bee-row-9 .bee-col-1 {
			padding-bottom: 25px;
			padding-top: 5px
		}

		.bee-row-9 .bee-col-1 .bee-block-1,
		.bee-row-9 .bee-col-2 .bee-block-1,
		.bee-row-9 .bee-col-3 .bee-block-1 {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 10px
		}

		.bee-row-9 .bee-col-1 .bee-block-2,
		.bee-row-9 .bee-col-2 .bee-block-2,
		.bee-row-9 .bee-col-3 .bee-block-2 {
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px
		}

		.bee-row-11 .bee-col-1 {
			padding-bottom: 5px;
			padding-top: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center
		}

		.bee-row-12 .bee-col-1 .bee-block-1 {
			padding: 10px 10px 10px 15px
		}

		.bee-row-12 .bee-col-1 .bee-block-2 {
			padding: 5px 10px 5px 15px
		}

		.bee-row-13 .bee-col-1 .bee-block-2 {
			padding: 20px 10px;
			width: 100%
		}

		.bee-row-15 .bee-col-1 .bee-block-4 {
			padding: 10px 10px 15px;
			text-align: center
		}

		.bee-row-15 .bee-col-2 .bee-block-2 {
			color: #242424;
			font-family: inherit;
			font-size: 14px;
			letter-spacing: 1px;
			padding-bottom: 10px;
			padding-top: 10px;
			text-align: center
		}

		.bee-row-15 .bee-col-3 .bee-block-2,
		.bee-row-15 .bee-col-3 .bee-block-3 {
			padding: 10px 10px 10px 25px
		}

		.bee-row-16,
		.bee-row-17 {
			background-color: #ffffff;
			background-repeat: no-repeat
		}

		.bee-row-17 .bee-col-1 .bee-block-1 {
			color: #1e0e4b;
			font-family: Inter, sans-serif;
			font-size: 15px;
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-2 h1,
		.bee-row-5 .bee-col-1 .bee-block-1 h1,
		.bee-row-8 .bee-col-1 .bee-block-1 h1 {
			color: #e27c3a;
			direction: ltr;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 38px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-4 h1 {
			color: #1a1a1a;
			direction: ltr;
			font-family: Montserrat, "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
			font-size: 23px;
			font-weight: 400;
			letter-spacing: 2px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-6 h1 {
			color: #e27c3a;
			direction: ltr;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 27px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-3 .bee-col-1 .bee-block-10 a {
			background-color: #e27c3a;
			border-radius: 4px;
			color: #ffffff;
			direction: ltr;
			font-family: inherit;
			font-size: 16px;
			line-height: 200%;
			padding: 5px 45px 5px 50px;
			width: auto
		}

		.bee-row-3 .bee-col-1 .bee-block-8,
		.bee-row-5 .bee-col-1 .bee-block-2 {
			color: #1a1a1a;
			font-size: 20px;
			letter-spacing: 0;
			line-height: 150%;
			text-align: center
		}

		.bee-row-11 .bee-col-1 .bee-block-3 a,
		.bee-row-15 .bee-col-3 .bee-block-2 a,
		.bee-row-15 .bee-col-3 .bee-block-3 a,
		.bee-row-3 .bee-col-1 .bee-block-8 a,
		.bee-row-5 .bee-col-1 .bee-block-2 a,
		.bee-row-6 .bee-col-1 .bee-block-3 a,
		.bee-row-6 .bee-col-2 .bee-block-3 a,
		.bee-row-6 .bee-col-3 .bee-block-3 a,
		.bee-row-7 .bee-col-1 .bee-block-3 a,
		.bee-row-7 .bee-col-2 .bee-block-3 a,
		.bee-row-7 .bee-col-3 .bee-block-3 a {
			color: #1a1a1a
		}

		.bee-row-11 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-15 .bee-col-3 .bee-block-2 p:not(:last-child),
		.bee-row-15 .bee-col-3 .bee-block-3 p:not(:last-child),
		.bee-row-3 .bee-col-1 .bee-block-8 p:not(:last-child),
		.bee-row-5 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-6 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-6 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-6 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-6 .bee-col-3 .bee-block-2 p:not(:last-child),
		.bee-row-6 .bee-col-3 .bee-block-3 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-7 .bee-col-1 .bee-block-3 p:not(:last-child),
		.bee-row-7 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-7 .bee-col-2 .bee-block-3 p:not(:last-child),
		.bee-row-7 .bee-col-3 .bee-block-2 p:not(:last-child),
		.bee-row-7 .bee-col-3 .bee-block-3 p:not(:last-child),
		.bee-row-9 .bee-col-1 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-1 .bee-block-2 p:not(:last-child),
		.bee-row-9 .bee-col-2 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-2 .bee-block-2 p:not(:last-child),
		.bee-row-9 .bee-col-3 .bee-block-1 p:not(:last-child),
		.bee-row-9 .bee-col-3 .bee-block-2 p:not(:last-child) {
			margin-bottom: undefined
		}

		.bee-row-6 .bee-col-1 .bee-block-3,
		.bee-row-6 .bee-col-2 .bee-block-3,
		.bee-row-6 .bee-col-3 .bee-block-3,
		.bee-row-7 .bee-col-1 .bee-block-3,
		.bee-row-7 .bee-col-2 .bee-block-3,
		.bee-row-7 .bee-col-3 .bee-block-3 {
			color: #1a1a1a;
			font-size: 18px;
			line-height: 180%;
			text-align: center
		}

		.bee-row-2 .bee-col-3 .bee-block-2 li {
			padding: 5px 15px
		}

		.bee-row-15 .bee-col-2 .bee-block-2 li a,
		.bee-row-2 .bee-col-3 .bee-block-2 li a {
			color: #242424
		}

		.bee-row-6 .bee-col-1 .bee-block-2,
		.bee-row-6 .bee-col-2 .bee-block-2,
		.bee-row-6 .bee-col-3 .bee-block-2,
		.bee-row-7 .bee-col-1 .bee-block-2,
		.bee-row-7 .bee-col-2 .bee-block-2,
		.bee-row-7 .bee-col-3 .bee-block-2 {
			color: #e27c3a;
			font-size: 34px;
			line-height: 150%;
			text-align: center
		}

		.bee-row-6 .bee-col-1 .bee-block-2 a,
		.bee-row-6 .bee-col-2 .bee-block-2 a,
		.bee-row-6 .bee-col-3 .bee-block-2 a,
		.bee-row-7 .bee-col-1 .bee-block-2 a,
		.bee-row-7 .bee-col-2 .bee-block-2 a,
		.bee-row-7 .bee-col-3 .bee-block-2 a {
			color: #e27c3a
		}

		.bee-row-11 .bee-col-1 .bee-block-4 a,
		.bee-row-6 .bee-col-1 .bee-block-5 a,
		.bee-row-6 .bee-col-2 .bee-block-5 a,
		.bee-row-6 .bee-col-3 .bee-block-5 a,
		.bee-row-7 .bee-col-1 .bee-block-5 a,
		.bee-row-7 .bee-col-2 .bee-block-5 a,
		.bee-row-7 .bee-col-3 .bee-block-5 a {
			background-color: #e27c3a;
			border-radius: 4px;
			color: #ffffff;
			direction: ltr;
			font-family: inherit;
			font-size: 20px;
			line-height: 180%;
			padding: 5px 30px;
			width: auto
		}

		.bee-row-9 .bee-col-1 .bee-block-1,
		.bee-row-9 .bee-col-2 .bee-block-1,
		.bee-row-9 .bee-col-3 .bee-block-1 {
			color: #1a1a1a;
			font-size: 50px;
			line-height: 180%;
			text-align: center
		}

		.bee-row-9 .bee-col-1 .bee-block-1 a,
		.bee-row-9 .bee-col-1 .bee-block-2 a,
		.bee-row-9 .bee-col-2 .bee-block-1 a,
		.bee-row-9 .bee-col-2 .bee-block-2 a,
		.bee-row-9 .bee-col-3 .bee-block-1 a,
		.bee-row-9 .bee-col-3 .bee-block-2 a {
			color: #ff6c54
		}

		.bee-row-9 .bee-col-1 .bee-block-2,
		.bee-row-9 .bee-col-2 .bee-block-2,
		.bee-row-9 .bee-col-3 .bee-block-2 {
			color: #1a1a1a;
			font-size: 20px;
			line-height: 180%;
			text-align: center
		}

		.bee-row-11 .bee-col-1 .bee-block-2 h1 {
			color: #e27c3a;
			direction: ltr;
			font-family: Georgia, Times, "Times New Roman", serif;
			font-size: 41px;
			font-weight: 400;
			letter-spacing: 1px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-11 .bee-col-1 .bee-block-3 {
			color: #1a1a1a;
			font-size: 18px;
			letter-spacing: 0;
			line-height: 150%;
			text-align: center
		}

		.bee-row-15 .bee-col-3 .bee-block-3 {
			color: #1a1a1a;
			font-size: 12px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-15 .bee-col-3 .bee-block-2 {
			color: #1a1a1a;
			font-size: 14px;
			line-height: 120%;
			text-align: center
		}

		.bee-row-17 .bee-col-1 .bee-block-1 .bee-icon-image {
			padding: 5px 6px 5px 5px
		}

		.bee-row-17 .bee-col-1 .bee-block-1 .bee-icon:not(.bee-icon-first) .bee-content {
			margin-left: 0
		}

		.bee-row-17 .bee-col-1 .bee-block-1 .bee-icon::not(.bee-icon-last) .bee-content {
			margin-right: 0
		}

		.bee-row-17 .bee-col-1 .bee-block-1 .bee-icon-label a {
			color: #1e0e4b
		}

		.bee-row-15 .bee-col-2 .bee-block-2 li {
			padding: 15px 30px 5px
		}

		@media (max-width:768px) {
			img.bee-fullwidthOnMobile {
				max-width: none !important
			}

			.bee-menu ul.with-bee-hamburger {
				display: none;
				padding: 5px 0;
				position: relative;
				top: -4px
			}

			.bee-menu ul.with-bee-hamburger li {
				display: block;
				text-align: center
			}

			.bee-menu ul.with-bee-hamburger li a {
				text-decoration: none
			}

			.bee-menu ul.with-bee-hamburger span,
			.bee-mobile_hide {
				display: none
			}

			#bee-hamburger-memu-r14c1m1:checked~ul,
			#bee-hamburger-memu-r1c2m1:checked~ul,
			.bee-row-content:not(.no_stack) {
				display: block
			}

			.bee-row-15 .bee-col-2 .bee-block-2 .bee-hamburger-controls,
			.bee-row-2 .bee-col-3 .bee-block-2 .bee-hamburger-controls {
				width: 36px;
				height: 36px;
				background-color: transparent;
				border-radius: 0
			}

			.bee-row-15 .bee-col-2 .bee-block-2 .bee-hamburger-controls span,
			.bee-row-2 .bee-col-3 .bee-block-2 .bee-hamburger-controls span {
				width: 18px;
				height: 18px
			}

			.bee-row-15 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open,
			.bee-row-2 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-open {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZTI3YzNhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgd2lkdGg9IjY0IiB5PSI1MiIvPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB3aWR0aD0iNjQiIHk9IjI2Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(1)
			}

			.bee-row-15 .bee-col-2 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close,
			.bee-row-2 .bee-col-3 .bee-block-2 .bee-hamburger-controls span.bee-hamburger-close {
				background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY0IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHdpZHRoPSI2NCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZTI3YzNhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxyZWN0IGhlaWdodD0iMTIiIHJ4PSI2IiB0cmFuc2Zvcm09Im1hdHJpeCgtLjcwNzEwNjc4IC0uNzA3MTA2NzggLjcwNzEwNjc4IC0uNzA3MTA2NzggMzEuOTkxMzc4IDc3LjIzNDAxOSkiIHdpZHRoPSI4MiIgeD0iLTkuMDA4NjIyIiB5PSIyNS45OTEzNzgiLz48cmVjdCBoZWlnaHQ9IjEyIiByeD0iNiIgdHJhbnNmb3JtPSJtYXRyaXgoLS43MDcxMDY3OCAuNzA3MTA2NzggLS43MDcxMDY3OCAtLjcwNzEwNjc4IDc3LjgxOTgwNiAzMi4yMzQwMTkpIiB3aWR0aD0iODIiIHg9Ii04Ljc2NTk4MSIgeT0iMjYuMjM0MDE5Ii8+PC9nPjwvc3ZnPg==");
				transform: translate(-50%, -50%) scaleY(0)
			}

			.bee-row-15 .bee-col-2 .bee-block-2 ul.with-bee-hamburger,
			.bee-row-2 .bee-col-3 .bee-block-2 ul.with-bee-hamburger {
				background-color: transparent
			}

			.bee-row-15 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li,
			.bee-row-15 .bee-col-2 .bee-block-2 ul.with-bee-hamburger li a,
			.bee-row-2 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li,
			.bee-row-2 .bee-col-3 .bee-block-2 ul.with-bee-hamburger li a {
				color: #e27c3a
			}

			#bee-hamburger-memu-r14c1m1:checked~.bee-hamburger-controls .bee-hamburger-open,
			#bee-hamburger-memu-r1c2m1:checked~.bee-hamburger-controls .bee-hamburger-open {
				transform: translate(-50%, -50%) scaleY(0)
			}

			#bee-hamburger-memu-r14c1m1:checked~.bee-hamburger-controls .bee-hamburger-close,
			#bee-hamburger-memu-r1c2m1:checked~.bee-hamburger-controls .bee-hamburger-close {
				transform: translate(-50%, -50%) scaleY(1)
			}
		}