/*Inicio contact*/

.contact-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact-main-p{
    margin-bottom: 30px;
}

.contact-main-form{
    width: 75%;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.contact-main-form-divInput{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contact-main-form-divInput-input{
    height: 45px;
}

.contact-main-form-textArea{
    width: 100%;
}

.contact-main-form-textArea-text{
    width: 100%;
    height: 90px;
}

.contact-main-form-button{
    background-color: var(--orange);
    color: var(--white-grey);
    border: var(--white-grey);
    height: 45px;
    padding: 10px;
}

/*Fin contact*/

@media (min-width: 768px){

}

@media (min-width: 1024px){
    
}