/* Paleta de colores */
:root {
  --black: #171616;
  --white-grey: #eaeaea;
  --dark-grey: #888888;
  --orange: #d84e4e;
  --light-blue: #83a1aa;
  --blue: #1c596a;
}

/* Tipografías */
:root {
  --poetsen-one-regular: "Poetsen One", sans-serif;
  --poppins: "Poppins";
}

/*General*/

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    background-color: var(--white-grey);
    width: 100%;
    font-family: var(--poppins);
}

main{
    width: 100%;
}

/*Fin General*/

/* Start Header */
header{
    background-color: var(--black);
    width: 100%;
    color: var(--white-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.header-nav-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

/* End Header */

/*Inicio contact*/

.contact-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*INICIO DESTINOS*/

h1{
    font-family: var(--poetsen-one-regular);
    font-size: xx-large;
    margin: 100px;
}

/*Fin DESTINOS*/

/* Start Footer */

footer {
  background-color: var(--black);
  width: 100%;
  font-family: var(--fuente1);
  color: var(--white-grey);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer-aboutUs-and-socialNetworks{
    width: 30%;
}

.footer-socialNetworks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-siteMap{
    width: 30%;
}

.footer-developedBy{
    width: 30%;
}

.footer-rightsReserved{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* End Footer */
