/*Inicio contact*/

.contact-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*INICIO DESTINOS*/

h1{
    font-family: var(--poetsen-one-regular);
    font-size: xx-large;
    margin: 100px;
}

/*Fin DESTINOS*/

@media (min-width: 768px){

}

@media (min-width: 1024px){
    
}